.producto{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 340px;
    border: solid 2px black;
    margin: 30px;
    align-items: center;
    justify-content: center;
}
.producto img{
     width: 25%;
     height: 50%;
}
#contenedor-productos{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}